body,h1,h2,h3{
    margin: 0;
}


.welcome{
    height: 100vh; 
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    position: relative;
}
.bg{
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    background-image: url("/site/img/balloons.jpg");  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
}

.about{
    height: 100vh;
    background-color: rgb(41,69,93);
}

.text{
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

h1{
    font-size: 4rem;  
}

h1,h2,.swipe{  
    font-family: 'Rokkitt', serif;
}

h3{
    font-family: 'Cedarville Cursive', cursive;
    position: relative;
    top: -10px;
}

.swipe{
    position: relative;
    top: 220px;
    color: white;
    font-size: 25px;
    animation:blinkingText 1.5s infinite;
}

@keyframes blinkingText{
    0%{     color: rgb(255, 255, 255);    }
    50%{    color: transparent; }
    100%{   color: rgb(255, 255, 255);    }
}

/* .infobox{
    display: flex;
    flex-direction: row;
} */

.start{
    height: 100vh;
    background-color: rgb(167,58,67);
}

#hexagon{
    display: flex;
    position: sticky;
    top: 10px;
    z-index: 1000;
    left: 10px;
}

#quote{
    color: white;
    position: relative;
    top: 100px;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 27px;
}




